*{
    margin: 0px;
    padding: 0px;
    font-family:"微軟正黑體";
}
 html::-webkit-scrollbar {  /*隱藏滾條 */
     width: 0 !important 
    }
body{
    width: 100%;
    height: 100%;
    background-color: black;
    
}

hr{
    margin: 5px;
    padding: 0px;
    width: 100%;
    height: 10px;
    background-color: red;
}
p{
    padding: 0px;
    margin: 0px;
}
#header{
    width: 100%;
    height: 700px;
    background-image: url(../img/img.png);
    background-color: rgba(255, 255, 255) ;
    filter:brightness(0.5);
    border-bottom: 8px solid #222;
}
#contaner{
    width: 100%;
    color: #333333;
    height: 500px;
    border-bottom: 8px solid #222;
}
#contaner h1{
    text-align: center;
    margin-top: 25%;
    background-color:rgba(253, 253, 253,0.1);
    color: white;
    font-size: 45px !important;
}
#btn1{
    font-size:20px;
    position:absolute;
    top:10px;
    left:87%;
}
#btn2{
    font-size: 40px;
}
#footer{
    width: 100%;
    color: #333333;
    height: 300px;

}
#dirtor{
    margin-top: 10%;
    margin-left: 10%;
    color: white;
}
#title{
    width: 110%;
    margin-top: 5px 0 0 0 ;
    max-height: 60px;
    color: red;
    z-index: 550;
    position: fixed ;
    

}
#title h1{
    margin-left: 20px; 
    font-size: 50px !important;
    filter:brightness(1);
}
#title img{
    padding-left: 20px;
    width: 7%;

}

#sol{
    position: absolute;
    width: 100%;
    height: 700px;
    top:0;
    left: 0;
    text-align:center;
    padding:15% 0 0 25%;
    color:white;
    padding-top: 10%;
}
#exampleModalLongTitle{   /* model title*/ 
    color:black;
    font-size: 30px;
}
#nav-tabContent{ /* model表單文字*/ 
    
    color: #222;
    font-size: 20px;
}
.change{
    animation: mymove ;
    background-color: rgba(0, 0,0, 1);
}
