* {
  margin: 0px;
  padding: 0px;
  font-family: "微軟正黑體";
}
html::-webkit-scrollbar {
  /*隱藏滾條 */
  width: 0 !important;
}
body {
  width: 100%;
  height: 100%;
  background-color: black;
}

hr {
  margin: 5px;
  padding: 0px;
  width: 100%;
  height: 10px;
  background-color: red;
}
p {
  padding: 0px;
  margin: 0px;
}
#header {
  width: 100%;
  height: 700px;
  background-image: url(img/img.png);
  background-color: black;
  filter: brightness(0.5);
  border-bottom: 8px solid #222;
}
#media {
  width: 100%;
  height: 692px;
  position: cover;
}
#media1 {
  width: 100%;
  height: 550px;
  position: cover;
}
#contaner {
  width: 100%;
  color: #333333;
  height: auto;
  border-bottom: 8px solid #222;
  margin: 0px;
}
#contanerVideo {
  width: 100%;
  color: #333333;
  height: 600px;
  border-bottom: 8px solid #222;
  margin: 0px;
}
#contaner h1 {
  text-align: center;
  margin-top: 25%;
  background-color: rgba(253, 253, 253, 0.1);
  color: white;
  font-size: 45px !important;
}
#btn1 {
  font-size: 20px;
  position: absolute;
  top: 10px;
  left: 87%;
}
i {
  font-size: 30px;
}
#btn2 {
  margin-left: 50%;
  font-size: 35px;
  background-color: rgba(108, 108, 108, 0.6);
  border: none;
}
#btn2:hover {
  background-color: rgba(108, 108, 108, 0.8);
}
#btn3 {
  margin-top: 12px;
  margin-left: 0;
  font-size: 35px;
  background-color: rgba(108, 108, 108, 0.6);
  border: none;
}
.car-btn {
  color: white;
}
#footer {
  width: 100%;
  color: #333333;
  height: 100px;
  /* position: absolute;
    top: 90%; */
}
#dirtor {
  margin-top: 10%;
  margin-left: 10%;
  color: white;
}
#title {
  width: 110%;
  margin-top: 5px 0 0 0;
  max-height: 60px;
  color: red;
  z-index: 550;
  position: fixed;
}
#title h1 {
  margin-left: 20px;
  font-size: 50px !important;
  filter: brightness(1);
}
#title p {
  font-size: 20px;
  position: absolute;
  top: 10px;
  left: 87%;
}
#title img {
  padding-left: 30px;
  width: 10%;
  height: 65px;
}
#sol {
  position: absolute;
  width: 100%;
  height: 700px;
  top: 0;
  left: 0;
  text-align: center;
  padding: 40% 0 0 0;
  color: white;
  padding-top: 18%;
}
#exampleModalLongTitle {
  /* model title*/
  color: black;
  font-size: 30px;
}
#nav-tabContent {
  /* model表單文字*/

  color: #222;
  font-size: 20px;
}
.change {
  animation: mymove;
  background-color: rgba(0, 0, 0, 1);
}
/* .row{
    margin: 0px !important;
} */
.new {
  padding: 10px;
}
.new:hover {
  filter: brightness(0.5);
}
.new:hover #plus {
  display: block;
}
@keyframes icon {
  from {
    top: 0%;
    transform: rotate(0deg);
  }
  to {
    top: 40%;
    transform: rotate(360deg);
  }
}
#plus {
  /* 滾動ICON效果*/
  position: fixed; /*浮動*/
  top: 40%; /*位置*/
  left: 40%;
  color: white;
  font-size: 70px;
  display: none; /* 平常設定不要顯示 */
  animation: icon 2s;
}
.rank {
  border: 2px solid;
  background-color: #222;
}
.blockhover {
  transform: scale(1.2, 1.2);
}
.word {
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 0 0 30px;
}
.nav-item a {
  color: white;
}
.nav-item a:hover {
  color: rgba(173, 173, 173, 1) !important;
}
.zindex {
  z-index: 999;
}
